
@{
    ViewData["Title"] = "Index";
}

<h2>Privacy</h2>
<p>
    CONDIZIONI DI UTILIZZO E TRATTAMENTO DATI PERSONALU
    <br />
    Questa applicazione è destinata ai medici al fine di supportarli nell’identificazione del centro diagnostico nel quale effettuare il dosaggio dei livelli dell’ormone antimulleriano (AMH).
    <br />
    PREMESSA
    <br />
    La presente Applicazione ha come oggetto la messa a disposizione dei suoi utilizzatori informazioni e funzionalità al fine di supportarli nel processo di identificazione del centro diagnostico nel quale effettuare il dosaggio dei livelli dell’ormone antimulleriano (AMH).
    L’Applicazione è pubblicata da Media For Health srl, via Copernico 38, 20125 Milano in qualità di publisher.
    <br />
    1.PROPRIETÀ INTELLETTUALE
    <br />
    1.1.Titolarità dei diritti di proprietà intellettuale dell’Applicazione
    <br />
    Media For Health è titolare esclusivo di tutti i diritti di proprietà intellettuale e/o dei diritti di sfruttamento, in particolare per quanto riguarda i diritti d’autore, i diritti sui database, i diritti sui marchi e i diritti sui disegni e modelli relativi ai servizi proposti dall’Applicazione, soprattutto la loro struttura (in particolare grafici, schede e funzionalità) e il loro contenuto (in particolare marchi, immagini, loghi, illustrazioni, foto, testi, ecc.).
    <br />
    1.2. Diritti d’uso concessi all’Utente
    <br />
    Media For Health concede all’Utente, a titolo gratuito, il diritto d’uso, non esclusivo, non trasferibile e non cedibile, dell’Applicazione e dei dati contenuti nell’Applicazione a titolo puramente personale – escluso qualsiasi altro uso – previa accettazione da parte dell’Utente delle presenti CGU.

    È espressamente vietato all’Utente modificare, migliorare, editare, tradurre, decompilare, disassemblare o creare uno o più lavori derivati dall’Applicazione, in particolare dai suoi contenuti, senza preventivo accordo scritto di Media For Health.

    Tutte le riproduzioni, le rappresentazioni, gli sfruttamenti, di qualsiasi natura e per qualsiasi scopo, di tutta o di parte dell’Applicazione, in particolare della sua struttura e dei suoi contenuti, senza la preventiva autorizzazione scritta di Media For Health, è illegale e costituisce un atto di contraffazione passibile di sanzioni penali.

    2.DATI PERSONALI
    <br />
    2.1.Dichiarazione dei dati personali
    <br />
    Media For Health certifica che nessun dato verrà archiviato durante l’utilizzo dell’Applicazione e non saranno nemmeno conservati sul terminale dell’Utente
    <br />
    3. USO DELL’APPLICAZIONE
    <br />
    3.1.Finalità e contenuti dell’Applicazione
    <br />
    La presente Applicazione ha come oggetto la messa a disposizione dei suoi utilizzatori informazioni e funzionalità al fine di supportarli nel processo di identificazione del centro diagnostico nel quale effettuare il dosaggio dei livelli dell’ormone antimulleriano (AMH).
    <br />
    In generale, le informazioni proposte nell’Applicazion non comportano responsabilità da parte di Media For Health.
    <br />
    4.RESPONSABILITÀ
    <br />
    4.1.Limitazione della responsabilità
    <br />
    Media For Health si impegna a mettere in atto le misure necessarie per mantenere l’Applicazione accessibile agli Utenti. Si precisa che la responsabilità di Media For Health non può essere chiamata in causa in caso di impossibilità da parte dell’Utente di utilizzare uno o più dei servizi proposti, quale ne sia la causa. Non può essere accettata alcuna responsabilità di Media For Health in caso di inadempienza ai suoi obblighi contrattuali a causa di un evento fortuito o di un caso di forza maggiore, come definito dalla legge e dalla giurisprudenza italiana. L’Utente riconosce che la responsabilità di Media For Health non potrà essere chiamata in causa, in qualsiasi modo e a qualsiasi titolo, per tutti i danni diretti (in particolare immateriali) e/o indiretti relativi all’uso dell’Applicazione (in particolare contenuti, accesso…) da parte dell’Utente, essendo quest’ultimo l’unico responsabile a tale titolo. Media For Health si riserva il diritto di adottare tutte le azioni necessarie per garantire il perfetto rispetto da parte dell’Utente dei propri obblighi.
    <br />
    4.2.Assistenza
    <br />
    Media For Health non garantisce all’Utente la manutenzione dell’Applicazione, né l’assistenza nel suo utilizzo.
    <br />
    4.3.Aggiornamento dell’Applicazione
    <br />
    Media For Health non può essere ritenuta responsabile in caso di mancato aggiornamento dell’Applicazione e di cattivo funzionamento di questa conseguente al mancato aggiornamento da parte dell’Utente.
    <br />
    4.4.Assenza di garanzia
    <br />
    Media For Health non dà alcuna garanzia, esplicita o implicita, e non si assume alcuna garanzia relativa all’uso dell’Applicazione o dei suoi contenuti.
    <br />
    5.SCELTA DEI MEZZI E DEI COSTI
    <br />
    L’Utente è personalmente responsabile di reperire o di acquisire, dell’installazione e della manutenzione dei materiali e/o dei diritti d’uso dei software necessari all’impiego dei diversi servizi proposti dall’Applicazione, come previsto dallo stato tecnico al momento della connessione. Analogamente, l’Utente mantiene a proprio carico i costi di abbonamento e di utilizzo stabiliti dai vettori informatici e dagli Internet provider. Media For Health non è coinvolta in qualsiasi controversia possa sopravvenire tra l’Utente e i progettisti di software, fabbricanti dei materiali, vettori informatici e Internet provider.
    <br />
    6.LEGGE APPLICABILE
    <br />
    Le presenti Condizioni di Utilizzo sono soggette al diritto italiano.
    <br />
    7.RECESSO
    <br />
    Queste CGU resteranno in vigore fino al momento dell’esercizio del diritto di recesso, che può avvenire in qualsiasi momento per iniziativa dell’Utente o di Media For Health.

    A partire dal momento in cui il recesso viene esercitato delle CGU, l’Utente s’impegna a cessare qualsiasi utilizzo dell’Applicazione e a rimuovere e disinstallare definitivamente qualsiasi copia dell’Applicazione.

    In caso di mancato rispetto da parte dell’Utente di uno qualsiasi dei termini di queste CGU, i diritti dell’Utente decadranno definitivamente senza alcuna notifica preventiva da parte di Media For Health.



</p>

